html {
    background: #171717;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.mobileBar {
    
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    z-index: 999;
}

.uiBar {
    display: flex;
    justify-content: space-around; 
    padding-top: 10px;
    width: 95%;
    height: 60px;
    background-color: rgba(27, 27, 27, 0.89);
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    gap: 100px;
    overflow: hidden;
}

.ee {
    display: flex;
    flex-direction: column;
}

.podText {
    font-size: 1.1rem;
    font-family: b1;
    color: rgb(201, 201, 201);
}

.uiTextMobile {
    color: rgb(224, 224, 224);
    font-family: gr;
}

.burgers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 50px;
    height: 50px;
}

.noneLines {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 50px;
    height: 50px;
}

.lnR {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
}

.lnR::before,
.lnR::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    width: 65%;
    height: 2px;
    background-color: #e96e04;
}

.lnR::before {
    transform: rotate(-45deg);
}

.lnR::after {
    transform: rotate(45deg);
}


.linesBurgers {
    width: 50%;
    height: 2px;
    background-color: rgb(224, 224, 224);
}

.oneTitle {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.avatarBox {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 5rem;
    overflow: hidden;
    border: 2px solid #b2b7b1;
}

.avatar {
    width: 100px;
}

.hText {
    font-size: 1.3rem;
    color: aliceblue;
    font-family: bbold;
}

.sbText {
    font-family: b1;
    color: rgb(160, 160, 160);
    text-align: center;
    font-size: 1rem;
}

.twoTitle {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boxSub {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.sym {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(192, 192, 192);
    width: 30px;
    height: 30px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2rem;
}

.subText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(192, 192, 192);
    width: 100px;
    height: 30px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2rem;
    font-family: b1;
    font-size: 0.9rem;
}

.aboutBox {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    
}

.boxisA {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 300px;
    background-color: #e1e5e4;
    border-radius: 2rem;
    overflow: hidden;
    
}

.numberText {
    color: #171717;
    position: relative;
    top: 20px;
    right: 140px;
    font-size: 25rem;
    font-family: b2;
}

#oneN {
    position: relative;
    right: 90px !important; 
}

.oneBoxText {
    position: relative;
    top: -50px;
    right: 80px;
    font-family: b1;
}

.twoBoxText {
    position: relative;
    top: -50px;
    right: 170px;
    color: rgb(0, 0, 0);
    font-family: b1;
}

#boxisTwo {
    background-color: #b2b7b1;
}

#numberTwo {
    color: aliceblue;
}

.threeTitle {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tarifBox {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 90%;
}
.tarifBox::-webkit-scrollbar {
    display: none;
}

.tBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 85vw;
    height: 500px;
    background: #e1e5e4;
    border-radius: 2rem;
    scroll-snap-align: center;
    gap: 50px;
}

.textBox {
    font-size: 2rem;
    font-family: bbold;
    color: #171717;
}

.infoText {
    font-family: b1;
    width: 300px;
    font-size: 1.5rem;
    color: #171717;
}

.textBox, .infoText, .sumBox {
    margin-left: 29px
}

.sumBox {
    display: flex;
    gap: 10px;
}

.sumSym {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171717;
    width: 50px;
    height: 50px;
    border: 1px solid #171717;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: b1;
}

.sumText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e1e5e4;
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    border: 1px solid #171717;
    font-size: 1.6rem;
    font-family: b1;
    background-color: #171717;
}
.oiBox {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 20px;
}

.oiText {
    font-family: bbold;
    font-size: 1.9rem;
    color: aliceblue;
}

.oiSub {
    font-size: 1.1rem;
    font-family: b1;
    color: aliceblue;
}

.svBox {
    width: 60px;
    height: 60px;
    border-radius: 2rem;
    border: 1px solid #e1e5e4;
    color: #e1e5e4;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.fourTitle {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

.revBox {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 90%;
}
.revBox::-webkit-scrollbar {
    display: none;
}

.rvnj {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rvLn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 85vw;
    height: 200px;
    background: transparent;
    scroll-snap-align: center;
}

.revImg {
    position: relative;
    top: 0px;
    z-index: 2;
    left: 30px;
    width: 95px;
    height: 95px;
    border-radius: 2rem;
}

.rvBoxto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #1f2038;
    border-radius: 2.5rem;
    flex-direction: column;
}

.revText {
    position: relative;
    left: 70px;
    font-family: b1;
    font-size: 0.9rem;
    width: 200px;
    color: aliceblue;
}
.rvbj {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    top: 45px;
}

.rvbh {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.revName {
    position: relative;
    z-index: 2;
    font-size: 1rem;
    font-family: bbold;
    color: aliceblue;
}

.abName {
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
    font-family: bbold;
    color: rgb(153, 153, 153);
}
.revIn {
    font-family: bbold;
    font-size: 1.2rem;
    color: aliceblue;
}

.revBut {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #b2b7b1;
    font-family: b1;
    border-radius: 1rem;
}





























@font-face {
  font-family: "gr";  
  src: url("Gothic60-Regular.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "sn";  
  src: url("SyncopateRus.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "lp";  
  src: url("ofont.ru_Leporid.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "bbold";  
  src: url("ofont.ru_Bounded\ \(1\).ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "b1";  
  src: url("ofont.ru_Bounded\ \(2\).ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "b2";  
  src: url("ofont.ru_Bounded.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}